<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banaras Hindu University, Faculty of  Arts, Department of English, Varanasi</title>
</head>
<body>
<div class="main_container">

    <h1 align="center">
        <font  color="#36387C">
        Department of English
        </font>
    </h1>
    <h4 align="center">
        <font  color="#36387C">
            Banaras Hindu University
        </font>
    </h4>

<div id="templatemo_top_panel_wrapper_outter">
<div id="templatemo_top_panel_wrapper_inner">
	<div id="templatemo_top_panel">


        <div id="templatemo_banner">

	        <div id="site_title">

			</div>

        </div>


    <div id="templatemo_menu">

<div class="jquerycssmenu">
    <table width="1282" valign="top" border="1" align="left"
cellpadding="0" cellspacing="0" bordercolor="#D6D6D6">
<tr><td>
    <div id="container">

    <header>

	<div class="clear"></div>

    </header>


    <div id="intro">

		<div class="width">

			<div class="intro-content">


     <center>
    <div style="position:absolute;top:30%;left:40%;">
<form action="/add_new_courses" class="login" method='POST'>
    {% csrf_token %}
    <h1><font color="#36387C">Add New Course</font></h1>
    <input type="text" name="class" class="login-input" placeholder="Class"  required='required'><br>
     <input type="text" name="courseid" class="login-input" placeholder="Course Id" autofocus required='required'><br>
    <input type="text" name="semester" class="login-input" placeholder="Semester" autofocus required='required'><br>
    <input type="submit" value="Add" class="login-submit">
</form>
    </div>
</center>

</div>
</div>
</div>
</div>
        </td></tr></table>
</div>
</div>
</div>
    </div></div></div>
</body>
</html>